#mapa-container {
    background-color: transparent !important;
    height: 100vh !important;
    width: 100vw !important;
}

#mapa-gestiones {
    height: 100% !important;
    width: 100% !important;
}

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl {
    background-color: transparent !important;
    box-shadow: none !important;
    height: auto !important;
    width: auto !important;
    max-height: 50px !important;
    max-width: 120px !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

.mapboxgl-ctrl-logo {
    background-color: transparent !important;
    opacity: 0.5 !important;
    height: 30px !important;
    width: 90px !important;
}
